.div1{
	background-image: url(back.jpg);

	background-size: cover;
    text-align: left;
    padding-top: 40px;
    padding-left:30px;
}
img{
	border:6px solid violet;
	padding: 0px 0px;
	border-style:ridge;
	width:120px;
	height: 120px;
	


}
h1{
text-align: center;
background-color:rgb(120 ,10,250);
font-weight: bold;
font-style: italic;
font-size: 50px ;
border:8px solid rgb(255,50,100);
margin-bottom:5px; 
}