  body{
  	margin:auto 0;
  }
  .zone{
	/* padding:30px 50px;
	margin:40px 50px; */
	cursor:pointer;
	/* display:inline-block; */
	color:#fff;
	font-size:2em; 
	border-radius: 4px;
	border:1px solid #bbb;
     transition:all 0.3s linear;   
} 
.main-nav{
	display:flex;
	list-style: none;
	font-size: 0.9em;
	margin:0;
}
       @media only screen and (max-width:600px){
       	.main-nav{
       		font-size:0.7em;
       		padding:0px;
       	}
       }	 
.push{
	margin-left:auto;
}
li{
	padding: 25px;
}
a{
	color:rgb(0 0 255);
	text-decoration:none; 
}
.container{
	display:flex;
	align-items: center;
	justify-content: center;
	height:50vh; 
}
.grid-wrapper{
	display:grid;
	grid-gap:20px;
	grid-template-columns:repeat(auto-fill,minmax(350px,1fr)); 
}
.box > img{
	width:100%;

}
.box{
	background-color: #424;
	padding:25px;
	margin:10px;
}
.yellow{
	text-align:center;
	background-color:blue;  
}























   
.green{

	background-color:rgba(20,180,20,0.7);

	padding:0px 0px;
} 
.red{
	background-color:rgb(100,30,30,0.6); 
}